.control-panel__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.control-panel__header, .control-panel__inner-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 32rem;
}

.plot__container {
  padding-top: 1rem;
}

.control-panel__inner-container {
  margin: 0.8rem 0;
}

.control-panel__header {
  margin-top: 0.4rem;
}
