:root {
  --main-color: #0C0C6B;
  --main-color-darker: #011936;
  --accent-color: #8EFE36;
  --accent-color-darker: #759E67;
  --additional-color: #726E75;
  --additional-color-darker: #444242;
  --light: #D9D9D9;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: var(--main-color-darker);
}

main {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--main-color);
  min-height: 100vh;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

h1, h2 {
  margin: 0;
  color: #ffffff;
}

h2 {
  font-size: 1.4rem;
}

@mixin btn-color($color, $darker-color, $text-color) {
  background-color: $color;
  color: $text-color;
  box-shadow: 3px 3px 0 $darker-color;
  position: relative;
  font-weight: bold;
  font-size: 1rem;
  &:active {
    box-shadow: none;
    top: 3px;
    right: -3px;
  }
}

.btn--grey {
  @include btn-color(var(--additional-color), var(--additional-color-darker), #ffffff);
}

.btn--green {
  @include btn-color(var(--accent-color), var(--accent-color-darker), var(--main-color-darker));
}

@media only screen and (min-width: 600px){
  main {
    width: 70%;
    max-width: 50rem;
    border-radius: 10px;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.50);
    min-height: calc(100vh - 2rem);
    margin: 1rem auto;
  }
}
