:root {
  --main-color: #011936;
  --accent-color: #8EFE36;
  --additional-color: #726E75;
  --additional-color-darker: #444242;
  --light: #D9D9D9;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(4,0,66);
  background: linear-gradient(90deg, rgba(4,0,66,1) 0%, rgba(12,12,107,1) 82%, rgba(87,87,87,1) 100%);
}

main {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--main-color);
  min-height: 100vh;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.btn--grey {
  background-color: var(--additional-color);
  color: #ffffff;
  box-shadow: 3px 3px 0 var(--additional-color-darker);
  position: relative;

  &:active {
    box-shadow: none;
    top: 3px;
    right: -3px;
  }
}

@media only screen and (min-width: 600px){
  main {
    width: 70%;
    max-width: 50rem;
    border-radius: 10px;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.50);
    min-height: calc(100vh - 4rem);
    margin: 2rem auto;
  }
}
